* {
  box-sizing: border-box;
  /*border: 1px solid red !important;*/
  margin: 0 0;
}

body {
  /*font-family: Arial, Helvetica, sans-serif*/
}

header {
  height: 100vh;
  background-color: #FF6067;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  /*display: flex;
  justify-content: center;*/
  font-family: 'Playfair Display';
  color: white;
  font-size: 1250%;
  margin-bottom: -40px;
  margin-top: -6%;
}

.hero-text {
  color: white;
  font-size: 125%;
  font-family: 'helvetica';
  font-weight: 200;
}

.nav {
 position: fixed;
 bottom: 4%;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  font-family: 'helvetica';
  font-weight: 200;
}

.nav a:hover {
  text-decoration: underline;
}
